<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
{{ message }}
  </h1>
  <app-test1></app-test1>
  <div class="app-test2"></div>
  <div app-test3></div>
  <app-test4></app-test4>
  <app-test5></app-test5>
  <app-test6></app-test6>
  <app-test7></app-test7>
  <app-test8></app-test8>
  <app-test9></app-test9>
  <app-test10></app-test10>
  <app-test11></app-test11>
  <app-test12 (childEvent)="message=$event" [parentData]="name"></app-test12>
</div>